<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.deon.furnituar">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />



    <application tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SofAR"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseFurnitureActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.deon.furnituar.MainActivity" />
        </activity>
        <activity
            android:name=".RenderFurnitureActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_render_furniture" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.deon.furnituar.BrowseFurnitureActivity" />
        </activity>
        <activity
            android:name=".SampleCamActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_sample_cam" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.deon.furnituar.BrowseFurnitureActivity" />
        </activity>
    </application>

</manifest>
