.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

#gestureContainer {
	width: 70%;
	height: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: .0;
}

 #rotate_translate_toggle {
	margin-top: 50dp;
    position:absolute;
    bottom:0;
    right:0;
}

#rotate_translate_anchor {
   color: #fff;
   background-color: #6496c8;
   text-shadow: -1px 1px #417cb8;
   border: none;
   font-family: Arial;
   font-size: 12px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
}

#raise_anchor {
   color: #fff;
   background-color: #6496c8;
   text-shadow: -1px 1px #417cb8;
   border: none;
   font-family: Arial;
   font-size: 12px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   position: relative;
   top: 40px;
}

#lower_anchor {
   color: #fff;
   background-color: #6496c8;
   text-shadow: -1px 1px #417cb8;
   border: none;
   font-family: Arial;
   font-size: 12px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   position: relative;
   top: 40px;
}