.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

#gestureContainer {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25%;
	margin-left: -25%;
	background: #FFFFFF;
	opacity: .0;
}

#gestureContainer:before {
	content:"";
	display: block;
	padding-top: 100%;
}

#rotate_translate_toggle {
	margin-top: 50px;
}

#rotate_translate_anchor {
   background: #3498db;
   background-image: linear-gradient(to bottom, #3498db, #2980b9);
   -webkit-border-radius: 60;
   -moz-border-radius: 60;
   border-radius: 60px;
   -webkit-box-shadow: 0px 1px 3px #666666;
   -moz-box-shadow: 0px 1px 3px #666666;
   box-shadow: 0px 1px 3px #666666;
   font-family: Georgia;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
                         }